[submodule "model/skk-dev-dict"]
	path = model/skk-dev-dict
	url = https://github.com/skk-dev/dict.git
[submodule "corpus-stats/aozorabunko_text"]
	path = corpus-stats/aozorabunko_text
	url = https://github.com/aozorahack/aozorabunko_text.git
