name: Akaza basic test

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
      with:
        submodules: true
    - uses: actions/cache@v3
      with:
        path: |
          ~/.cargo/registry
          ~/.cargo/git
          target
        key: ${{ runner.os }}-cargo-lint-${{ hashFiles('**/Cargo.lock') }}
    - name: Install dependencies
      run: |
        sudo apt-get update
        sudo apt-get install ibus libgirepository1.0-dev libmarisa-dev clang libibus-1.0-dev unzip libgtk-4-dev
    - name: make some configuration files for ibus-akaza
      run: |
        cd ibus-akaza/ && make
    - uses: dtolnay/rust-toolchain@master
      with:
          toolchain: "1.71.0"
          components: clippy, rustfmt
    - name: Check formatting
      run: cargo fmt --all --check
    - name: Run clippy
      run: cargo clippy -- -D warnings

  test:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
      with:
        submodules: true
    - uses: actions/cache@v3
      with:
        path: |
          ~/.cargo/registry
          ~/.cargo/git
          target
        key: ${{ runner.os }}-cargo-test-${{ hashFiles('**/Cargo.lock') }}
    - name: Install dependencies
      run: |
        sudo apt-get update
        sudo apt-get install ibus libgirepository1.0-dev libmarisa-dev clang libibus-1.0-dev unzip libgtk-4-dev
    - name: make test data
      run: |
        cd akaza-data/ && make test-data
    - name: make some configuration files for ibus-akaza
      run: |
        cd ibus-akaza/ && make
    - uses: dtolnay/rust-toolchain@master
      with:
          toolchain: "1.71.0"
    - name: Run tests
      run: cargo test
